.favourite-list-section {
  overflow-y: scroll !important;
  margin-bottom: 10px !important;
}
.favourite-list {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.4rem;
  border-radius: 5px;
}
.album-title {
  font-size: 1.6rem;
}
.album-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.remove-song {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.song-name {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
}
.song-durtaion {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}
